<div class="detail-section">

  <div class="container-fluid">

    <img src="{{ product?.imgURL }}" class="detail-img">
    <!--"?" this makes sure that we don't access undefined or null object-->

    <h3>{{product.name}}</h3>
    <div class="price">{{product.unitPrice | currency:'USD'}}</div>
    <a href="#" class="primary-btn">Add to cart</a>
    <br><br>
    <hr>
    <h4>Description</h4>
    <p>{{product.description}}</p>

    <a routerLink="/products" class="nt-5">Back to Product List</a>

  </div>


</div>
